In [1]:
#imports
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import acquire as a
import os
from sklearn.model_selection import train_test_split
from scipy import stats
from sklearn.cluster import KMeans
import viz

In [2]:
df = a.wrangle_wine()
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
train, val, test = a.split_data(df)
train.shape, val.shape, test.shape

((3637, 13), (1560, 13), (1300, 13))

In [4]:
X= train[['alcohol', 'density']]

kmeans = KMeans(n_clusters=3)
kmeans.fit(X)

kmeans.predict(X)

/usr/local/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

array([1, 2, 0, ..., 0, 0, 0], dtype=int32)

In [5]:
train['cluster'] = kmeans.predict(X)

In [8]:
kmeans.cluster_centers_

array([[ 9.44283489,  0.99655035],
       [10.8357162 ,  0.99392909],
       [12.40839706,  0.99167155]])

In [9]:
centroids = pd.DataFrame(kmeans.cluster_centers_, columns=X.columns)
centroids

     alcohol   density
0   9.442835  0.996550
1  10.835716  0.993929
2  12.408397  0.991672